.WeatherCardWrapper{
    color: black; 
    margin: 0 auto;  

}

.WeatherCardImage {
    height: auto; 
    width: 120px; 
}

.WeatherCardImage svg{
    color: #bdc3c7;
    padding: 40px 20px 20px; 
    height: auto; 
    opacity: 0.5; 
    width: 100%; 
}

.WeatherCardWrapper h2 {
    color: #bdc3c7; 
    font-size: 40px;
    font-family: 'Gabarito', sans-serif;
    padding: 10px 10px 10px; 

}

.WeatherCardWrapper {
    font-size: 20px;
    padding: 20px 50px;
    font-family: 'Gabarito', sans-serif;

   
}

.title{
    font-size: 20px; 
    font-family: 'Gabarito', sans-serif;
   
    display: flex; 
    justify-content: flex-start;
    padding: 20px;
}





.header{
    display: flex;
    justify-content: center;
    

}

.header a{
    color: black; 
    background-color: #cdd1e4;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gabarito', sans-serif;
    margin-right: 20px;
    padding: 20px; 
    

    
}
